<header>

  <nav class="app-header">
    <div class="header-container">
      <div class="brand-moment">
        <img class="img-brand" src="/assets/images/moments.png" alt="moments">
        <h2>Moments</h2>
      </div>
      <div>
        <ul>
          <li>
            <a routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a routerLink="/moments" routerLinkActive="active">Moments</a>
          </li>
          <li>
            <a routerLink="/moments/new" routerLinkActive="active">Compartilhar</a>
          </li>
          <li>
            <a routerLink="/sobre" routerLinkActive="active">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>