/* You can add global styles to this file, and also import other style files */

:root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

.router-container {
  min-height: 90vh;
}
