/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.router-container {
  min-height: 80vh;
}

a {
  text-decoration: none !important;
  color: #444 !important;
  transition: .5s !important;
  color: #DEC129 !important;
}
